.btn-comp {
  margin-top: 12px;
  border-radius: 99px;
  border: 1px solid transparent;
  padding: 4px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn-comp:hover {
  border-color: #646cff;
}
.btn-comp:focus,
.btn-comp:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn-masuk {
  background-color: black;
  color: white;
}

.btn-lanjut {
  background-color: #50b478;
  color: white;
}

.btn-google {
  border: 1px solid #64e2dc;
  background-color: white;
  color: black;
}

.btn-option {
  border: 1px solid #64e2dc;
  background-color: white;
  color: #64e2dc;
  font-weight: bolder;
}
